@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans|Ubuntu|Arvo|Satisfy|La+Belle+Aurore|Expletus+Sans|Righteous');

.row {
  /* border: 1px solid red; */
}

[class^="col-"] {
  /* border: 1px solid blue; */
}


body * {
  color: rgba(60, 60, 60, 0.85);
  font-family: 'Ubuntu', sans-serif;
  /* animation: 1s ease-in-out fadeInOut; */
}

p {
  margin: 0;
}


#btn-code, #btn-home {
  top: 0px;
  margin-top: 10px;
  z-index: 1;
}

#btn-code, #btn-home {
  transition: all 0.5s ease;
  border-radius: 0;
  font-family: 'Julius Sans One', serif;
  box-shadow: 0 0 10px -5px #000;
}

#btn-home {
  background: floralwhite;
  border-radius: 5px;
}

#btn-code.invert {
  /* color: #F9243A; */
  color: #A6E22E;
  background: #272822;
  font-weight: bold;
  
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  #btn-code, #btn-home {
    position: fixed;
    left: 75vw;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #btn-code, #btn-home {
    position: fixed;
    right: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  #btn-code, #btn-home{
    position: fixed;
    left: 50%;
    right: auto; 
    transform: translate(-50%, 0);
  }
}

.container {
  /* position: relative; */
  /* background: #FFF; */
  /* z-index: 1; */
}

#code {
  position: absolute;
  transition: all 0.5s ease;
  left: 0vw;
  top: -10px;
  width: 40vw;
  border: 0;
  padding: 10px;
  /* box-shadow: 0 0  25px 15px #272822; */
  font-size: .7em;
}


#code.slide {
  left: -50vw;
}




#resume {
  position: relative;
  left: 0;
  top: 50px;
  height: 100vh;
  
  transition: all 0.5s ease;
}

#resume.shift {
  left: 30vw;  
}



@media only screen and (max-width: 600px) {
  .resume-outer-row {
    padding: 0 !important;
  }
}



@keyframes fadeInOut {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.top-bar {
  /* animation: 4s ease fadeInOut; */
}

.top-bar {
  display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.bar {
  height: 5px;
}

.tan {
  background: rgba(243, 204, 152, 0.85);
  width: 10vw;
}
.turquoise {
  background: rgba(64, 224, 208, 0.85);
  width: 20vw;
}
.orange {
  background: rgba(255, 125, 7, 0.85);
  width: 30vw;
}
.brown {
  background: rgba(115, 57, 15, 0.85);
  width: 40vw;
}



.row-title {
  /* animation: 2s ease-in-out fadeInOut; */
}

@media only screen and (max-width: 600px) {
  .sub-title {
    text-align: center;
  }
}


.title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 5em;  
}

.sub-title-test {
  background: rgba(60, 60, 60, 0.85) -webkit-gradient(linear, 100% 0, 0 0, from(#acacac), color-stop(0.5, #ffffff), to(#acacac));  
  background-position: -80px top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 1.3s;
  animation-timing-function: ease-in;
  background-size: 40px 100%;
}

@keyframes shimmer {
  0% {
    background-position: left top; /*50px*/
  }

  100% {
    background-position: bottom right; /*200px*/
  }
}

.sub-title {
  position: relative;
  /* right: 8vw; */
  top: -20px;
  margin-bottom: -10px;
  font-size: 1.8em;
  font-family: 'La Belle Aurore', 'Satisfy', cursive;
  /* font-weight: bold; */
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .title {
    font-size: 4em;
  }
  .sub-title {
    position: relative;
    right: auto;
    top: auto;
    margin: -10px 0 10px 0;
  }
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .sub-title {
    position: relative;
    right: -2vw;
  }
}

.about-me {
  margin-bottom: 30px;
}



.right-section {
  border-left: 2px solid rgba(170, 170, 170, 0.85);;
}

.left-section>.sub-heading {
  margin-top: 35px;
  margin-bottom: 10px;
}

.right-section>.sub-heading {
  margin-top: 35px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .left-section {
    padding-left: 0 !important;
  }
  .right-section {
    padding-right: 0 !important;
  }
}


.sub-heading {
  text-transform: uppercase;
  color: #A35E09;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 0.88em;
}

.sub-heading.top {
  margin-top: 10px;
}


.link-portfolio {
  cursor: pointer;
  color: #80DAFF;
  background: #D30707;
  padding: 1px 3px;
  border-radius: 3px;
}

.link-imletired {
  color: #F1AA1F;
  background: #573500;
  padding: 1px 3px;
  border-radius: 3px;
}

.link-github {
  color: #0C0;
  background: #24292E;
  padding: 1px 3px;
  border-radius: 3px;
}


.project-title {
  font-family: 'Expletus Sans', cursive;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
}

.project-title>a {
  /* transition: all 0.2s ease; */
  color: rgba(60, 60, 60, 0.85);
  border-radius: 3px;
}
.project-title>a:hover {
  /* background: #C57410;
  color: #fff;
  text-decoration: none; */
  /* color: #C57410; */
}
.project-title>a:focus {
  
}
.project-title>a:active {
  
}


.job-header {
  margin-top: 15px;
  margin-bottom: -5px;

  font-weight: bold;
  font-size: 1.2em;
}

.job-header>span {
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  
}

.job-title {
  font-weight: bold;
  margin-bottom: 0;
}

.job-title>span {
  font-weight: normal;
  font-style: italic;
  padding-left: 1px;
}

.job-dates {
  margin: 0 auto;
  font-size: .8em;
}

.job-description {
  font-size: .8em;
}

.edu-title {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 1em;
  text-transform: uppercase;
}

.edu-city {
  text-transform: none;
  font-weight: normal;
  font-style: italic;
}

.edu-text {
  font-size: .9em;
}




.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  color: orange;
}

.footer * {
  display: inline;
  font-family: 'La Belle Aurore', serif;
  font-size: 1.6em;
  padding: 0 7px;
}

.footer-email {
  font-style: italic;
}

.footer-addr {
  /* font-style: italic; */
}

.footer-tel {
  /* font-style: italic; */
  color: #0069FF;
}





.site-header {
  margin-top: 1em;
  padding-left: 0.2em;
  
  color: floralwhite;
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgba(0 ,0 ,0 ,0.9);  
}

@media only screen and (max-width: 600px) {
  .site-header {    
    /* margin-top: 1em; */
  }
}

#projects {  
	background-color: hsl(34, 53%, 82%);
	background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.35) 5px, hsla(197, 62%, 11%, 0.35) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.35) 35px, hsla(5, 53%, 63%, 0.35) 40px, hsla(197, 62%, 11%, 0.35) 40px, rgba(10, 35, 45, 0.35) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.35) 60px, hsla(5, 53%, 63%, 0.35) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.35) 90px, hsla(5, 53%, 63%, 0.35) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.35) 120px, hsla(197, 62%, 11%, 0.35) 140px), repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.35) 5px, hsla(197, 62%, 11%, 0.35) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.35) 35px, hsla(5, 53%, 63%, 0.35) 40px, hsla(197, 62%, 11%, 0.35) 40px, hsla(197, 62%, 11%, 0.35) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.35) 60px, hsla(5, 53%, 63%, 0.35) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.35) 90px, hsla(5, 53%, 63%, 0.35) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.35) 140px, hsla(197, 62%, 11%, 0.35) 160px);
	/* background-blend-mode: multiply; */
	/* background-size: 500% 500%; */
  background-attachment: fixed;
}

.cork {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
  flex-wrap: wrap;

  border-radius: 5px;
  
  background: url("./cork.jpg");
  box-shadow: 1px 3px 6px rgba(0,0,0,.5);
}

.site {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 15px 10px !important;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  /* float: left; */
  margin: 8px;
  border: none !important;
  
  background-image: url("./_img/Coming soon - Logo.png")  !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .site {    
    width: 120px;
    height: 120px;
    margin: 10px !important;
  }
}

.site-description {
  font-family: 'Righteous', cursive;
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0 ,0 ,0 ,0.0);
  letter-spacing: 1px;
  word-wrap: break-word;
  white-space: normal;
  
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .site-description {
    font-size: 0.75em;
  }
}

.site:hover * {
  color: floralwhite;
  text-shadow: 1px 1px 3px rgba(0 ,0 ,0 ,0.9);
}


.site.foodies-delight {
  background-image: url("./_img/foodies-delight - logo square.png")  !important;
}

.site.pomodoro {
  background-image: url("./_img/PomodoroTimer - logo.png")  !important;
}

.site.calc-it {
  background-image: url("./_img/Calculator - logo.png")  !important;
}

.site.wikitriever {
  background-image: url("./_img/Wikitriever - logo.png")  !important;
}
.site.galileo {
  background-image: url("./_img/Galileo2- logo square.png")  !important;
}

.site.game-of-life {
  background-image: url("./_img/game-of-life - logo square.png")  !important;
}

.site.lemma {
  background-image: url("./_img/lemma - logo square.png")  !important;
}

.site.simon {
  background-image: url("./_img/Simon - logo.png")  !important;
}

.site.smmp {
  background-image: url("./_img/SMMP - Logo.png")  !important;
}

.site.teach-physics {
  background-image: url("./_img/TeachPhysics - Logo.png")  !important;
}

.cork button:hover.site {
  /* border: 1px solid rgba(0,0,0,.75); */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

/* 
.modal {
  padding-right: 0 !important
}
	
.modal {
  overflow-y: auto;
 }
 
.modal-open {
  overflow: auto;
  padding-right: 0px !important
} */



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 7px;
  font-weight: 500;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in {
  opacity: 0; /*invisible from the start*/
  animation: fadeIn ease-in 1; /*call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time*/
  animation-fill-mode: forwards; /*this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 0.3s;
  animation-delay: 0.1s; /*delay to start*/
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.fade-out {
  opacity: 1; /*invisible from the start*/
  animation: fadeOut ease-in 1; /*call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time*/
  animation-fill-mode: forwards; /*this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 0.3s;
  animation-delay: 0.1s; /*delay to start*/
}

@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }























/* ################################# */
/* ##### Scrollbar css styling ##### */
/* ##### --------------------- ##### */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  display: none;
}


body {
  overflow-x: hidden;
  overflow-y: scroll;
  /* height: 101vh; */
  /* width: 101vw */
}

body::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

@media only screen and (min-width: 600px) {
  body {
    width: 101vw
  }
}

body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  /* background: transparent; */
}

body::-webkit-scrollbar-thumb{
  margin: 0 2px;
  background-color: rgba(112, 114, 115, 0.70);
  /* border-radius: 5px; */
  /* outline: 0.3 solid red; */
}



#code {
  overflow-y: scroll;
  /* height: 101vh; */
}

#code::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

#code::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#code::-webkit-scrollbar-thumb{
  background-color: #F9243A;
  outline: 0.3 solid slategrey;
}


/* ################################# */
